swagger: '2.0'
info:
  title: Glasses8P App
  description: This is the API documentation for the Glasses8P App including user signup, login, and contact management
  version: 1.0.0
  contact:
    email: drobinson@ucf.edu

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html

paths:
  /SignUp.php:
    post:
      tags:
      - Users
      summary: Signs up for an account for the Glasses8P App
      operationId: doSignUp
      description: Signs up for an account for the Glasses8P App
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: signUpItem
        description: signUp
        schema:
          $ref: '#/definitions/SignUp'
      responses:
        200:
          description: OK
        400:
          description: Invalid Input
        404:
          description: URL Not Found
        409:
          description: Account with provided username already exists
        500:
          description: Server Error

  /Login.php:
    post:
      tags:
      - Users
      summary: Checks the inputted user information to see if it matches an account in the system and returns ID
      operationId: doLogin
      description: Matches input with an existing account and returns ID
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: loginItem
        description: login
        schema:
          $ref: '#/definitions/Login'
      responses:
        200:
          description: Login Successful
        400:
          description: Invalid Input (username or password does not match)
        404:
          description: URL Not Found
        500:
          description: Server Error (Could not Login right now)

  /AddContact.php:
    post:
      tags:
      - Contacts
      summary: Adds a contact to the Contacts table
      operationId: doAddContact
      description: Adds a contact to the Contacts table
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: addContactItem
        description: addContact
        schema:
          $ref: '#/definitions/AddContact'
      responses:
        200:
          description: Successfully added contact
        400:
          description: Invalid Input (username or password does not match)
        404:
          description: URL Not Found
        500:
          description: Server Error (Could not Login right now)

  /DeleteContact.php:
    post:
      tags:
      - Contacts
      summary: Deletes a contact the user holds
      operationId: doDeleteContact
      description: Deletes a contact the user holds
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: deleteContactItem
        description: delete contact
        schema:
          $ref: '#/definitions/DeleteContact'
      responses:
        200:
          description: Contact successfully deleted
        400:
          description: Invalid Input
        404:
          description: URL Not Found
        500:
          description: Server Error

  /SearchContacts.php:
    post:
      tags:
      - Contacts
      summary: Searches database for a contact that matches the search
      operationId: doSearchContacts
      description: Searches database for a contact that matches the search
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: searchContactsItem
        description: search contacts
        schema:
          $ref: '#/definitions/SearchContacts'
      responses:
        200:
          description: Found contacts
        400:
          description: Invalid Input (username or password does not match)
        404:
          description: URL Not Found
        500:
          description: Server Error (Could not Login right now)

  /UpdateContact.php:
    post:
      tags:
      - Contacts
      summary: Updates a contact that already exists in the Contacts table
      operationId: doUpdateContact
      description: Updates a contact that already exists in the Contacts table
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: updateContactItem
        description: updateContact
        schema:
          $ref: '#/definitions/UpdateContact'
      responses:
        200:
          description: Successfully added contact
        400:
          description: Invalid Input (username or password does not match)
        404:
          description: URL Not Found
        500:
          description: Server Error (Could not Login right now)



definitions:
  SignUp:
    type: object
    required:
    - login
    - password
    properties:
      login:
        type: string
        example: "RickL1"
      password:
        type: string
        example: "password"

  Login:
    type: object
    required:
    - login
    - password
    properties:
      login:
        type: string
        example: "RickL1"
      password:
        type: string
        example: "password"

  AddContact:
    type: object
    required:
    - firstName
    - lastName
    - userId
    - phoneNumber
    - email
    properties:
      firstName:
        type: string
        example: "Rick"
      lastName:
        type: string
        example: "L"
      userId:
        type: string
        example: "1"
      phoneNumber:
        type: string
        example: "111-111-1111"
      email:
        type: string
        example: "RickL@test.com"

  DeleteContact:
    type: object
    required:
    - id
    properties:
      id:
        type: string
        example: "2"

  SearchContacts:
    type: object
    required:
    - startIndex
    - endIndex
    - userId
    - fullName
    properties:
      fullName:
        type: string
        example: "Da"
      userId:
        type: integer
        example: 7
      startIndex:
        type: integer
        example: 0
      endIndex:
        type: integer
        example: 20

  UpdateContact:
    type: object
    required:
    - firstName
    - lastName
    - contactId
    - phoneNumber
    - email
    properties:
      firstName:
        type: string
        example: "Rick"
      lastName:
        type: string
        example: "L"
      contactID:
        type: string
        example: "1"
      phoneNumber:
        type: string
        example: "111-111-1111"
      email:
        type: string
        example: "RickL@test.com"

host: glasses8p.online
basePath: /api
schemes:
- http
